:root {
  --green: #5a9e50;
  --brick: #c25230;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
    transition: none !important;
  }
}
